.brown-sugar {
    color: #a52a2a;
    font-family: 'roboto';
    margin: 50px!important;
}

#table-yuk {
    margin-top: 20px;
    margin-right: 0px; 
    margin-bottom: 20px; 
    margin-left: 100px;
    background-color: aqua;
    padding: 20px;
}
